@font-face { 
font-family: MaidenOrange;
src: url(../font/MaidenOrange.eot);
src: url(../font/MaidenOrange.ttf); 
}

@font-face { 
font-family: ComingSoon;
src: url(../font/ComingSoon.eot);
src: url(../font/ComingSoon.ttf); 
}
/*

.navbar-custom {
  background-color: tan;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #fed136;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #fec503;
}
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #black;
}
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #fed136;
  outline: none;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 2em;
  }
}

*/


@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        font-family: ComingSoon;
        border-bottom: 0;
        
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background: transparent;
    }

    .top-nav-collapse {
        padding: 0;
        background: black;
        opacity: 0.65;
    }
}

@media(max-width:767px) {
    
    .navbar {
        padding: 10px 0;
        font-family: ComingSoon;
        border-bottom: 0;
        
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background: transparent;
    }
    
    .top-nav-collapse {
    
        padding: 0;
        background: black;
        opacity: 0.65;
        border-bottom: 0;
    }}
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a: {
    color: darkgrey;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a{
    color: darkgrey;
    background-color: transparent;
}

.navbar-default .navbar-brand {
    color: darkgrey;
    background-color: transparent;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: darkslategray;
    background-color: transparent;
}